# Dependencies
node_modules/

# Environment variables
.env

# Database (will be created on deploy)
database/*.db
database/*.sqlite

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/
